@import "../styles/custom.css";

:root {
    --white: #fff;
    --black: #000;
    --dark: #1e1e1e;
    --light: #e1e1e1;

    --red: #be0000;
    --green: #00be29;

    --blue: #0055ee;
    --purple: #6611dd;
    --orange: #dd3311;
}

@theme inline {
    --font-main: var(--font-montserrat);
    --font-title: var(--font-sofia-sans);
}

body {
    background: var(--white);
    color: var(--dark);
    font-family: Arial, Helvetica, sans-serif;
}

.szh-accordion__item-btn {
    width: 100%;
    text-align: left; /* keeps the text aligned left */
    padding: 0; /* let your inner div handle padding */
    background: transparent;
    border: none;
}
